.title {
  background-color: #00838f;
  color: white;
  padding: 10px;
  margin-top: 8px;
  font-weight: 700;
  text-align: center;
}

.password-column {
  padding-left: 10% !important;
  margin-top: -10px;

}

.input-field {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.btn {
  float: right;
  margin-right: 10px;
  margin-top: -.5em;
  background-color: #00838f;
  font-weight: 500;
  font-size: 20px;
}

.btn:hover {
  background-color: #00acc1;
}
