.tabs .indicator {
  background-color: #00838f;
}

.sidenav-overlay {
  left: 300px !important;
  background-color: transparent !important;
}

.alertify-notifier .ajs-message.ajs-warning {
  color: orangered;
  font-size: 20px;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(253, 253, 253, 0.014);
  font-size: 20px;
  background-color: #00838f;
}

.alertify-notifier .ajs-message.ajs-error {
  color: ghostwhite;
  text-shadow: 0px 2px 2px rgba(255, 0, 34, 0.4);
  font-size: 20px;
}

.ajs-content {
  text-align: center !important;
  color: #333 !important;
  font-weight: bolder !important;
  font-family: 'merinda' !important;
  font-size: 1.3rem !important;
}

.ajs-close {
  display: none !important;
}

.ajs-button {
  text-decoration: none !important;
  letter-spacing: 0.5px !important;
  font-weight: bold !important;
  font-family: 'merinda' !important;
  background: #00838f !important;
  font-size: 1rem !important;
  color: white !important;
}

.ajs-button:hover {
  text-decoration: none !important;
  color: black !important;
  background: #00acc1 !important;
  letter-spacing: 0.5px !important;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: center;
  font-weight: bolder !important;
  font-family: 'merinda' !important;
  font-size: 1.3rem !important;
}

.alertify .ajs-header {
  text-align: left;
  font-weight: bolder !important;
  font-family: 'merinda' !important;
  font-size: 1.4rem !important;
  color: #00838f;
}

.alertify .ajs-dialog {
  top: 40%;
  margin: auto;
}
