<div>
  <app-navbar></app-navbar>
  <div class="container-fluid" style="margin-top: 10px">
    <div class="row">
      <div class="col s12 m4 l3">
        <app-side></app-side>
      </div>
      <div class="col s12 m8 l9">
        <div class="row" *ngIf="userFollowers.length>0">
          <div class="col s6 m4 l3 card-div" *ngFor="let user of userFollowers">
            <div class="card">
              <a>
                <div class="card-image img-div">
                  <img class="circle responsive-img"
                    src="https://res.cloudinary.com/dxpxowuoc/image/upload/v{{user.follower.photoVersion}}/{{user.follower.photoId}}">
                </div>
              </a>
              <div class="card-action">
                <h3 class="card-title center-align">
                  {{user.follower.username}}
                </h3>

                <a class="btn waves-effect btn-small" (click)="followUser(user.follower)"
                  *ngIf="!isFollowed(userFollowing,user.follower._id)">Follow</a>
                <a class="btn waves-effect btn-small" (click)="unFollowUser(user.follower)"
                  *ngIf="isFollowed(userFollowing,user.follower._id)">UnFollow</a>
                <a><i class="material-icons right chat-icon">message</i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="userFollowers.length==0">
          <h4 class="center">You have no followers</h4>
        </div>
      </div>
    </div>
  </div>
</div>
