<div>
  <app-navbar (onlineUsers)="online($event)"></app-navbar>
  <div class="container-fluid" style="margin-top: 10px">
    <div class="row">
      <div class="col s12 m4 l3">
        <app-side></app-side>
      </div>
      <div class="col s12 m8 l9">
        <div class="row">
          <div class="col s6 m4 l3 card-div" *ngFor="let user of users">
            <div class="card">
              <a class="pointer" (click)="viewProfile(user)">
                <div class="card-image img-div">
                  <img class="circle responsive-img"
                    src="https://res.cloudinary.com/dxpxowuoc/image/upload/v{{user.photoVersion}}/{{user.photoId}}">
                  <div class="online" *ngIf="checkIfOnline(user._id)"></div>
                </div>
              </a>
              <div class="card-action">
                <h3 class="card-title center-align">
                  {{user.username}}
                </h3>
                <p *ngIf="user.city" class="center-align location">
                  {{user.city}},{{user.country}}
                </p>
                <p *ngIf="!user.city" class="center-align location">
                  &nbsp;
                </p>
                <a class="btn waves-effect btn-small" (click)="followUser(user)"
                  *ngIf="!isFollowed(userFollowing,user._id)">Follow</a>
                <a class="btn waves-effect btn-small" (click)="unFollowUser(user)"
                  *ngIf="isFollowed(userFollowing,user._id)">UnFollow</a>
                <a [routerLink]="['/chat',user._id]"><i class="material-icons right chat-icon">message</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
